@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}
.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:50px 50px 50px 50px;
    padding:50px 50px 50px 50px;
}
.about-text{
    width: 50%;
    text-align: justify;
}
.about-img{
    width:50%;
}
.team-boxes{
    display: flex;
    flex-direction: row;
    margin:20px 20px 20px 20px;
    padding:20px 20px 20px 20px;
    justify-content: center;
}
.team-box{
    background-color: rgb(170, 170, 169);
    border-radius: 20px;
    margin:10px 10px 10px 10px;
    padding:20px 10px 20px 10px;
}
.team-box img{
    border-radius: 50%;
}